/*Body and Header */
body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url('assets/background.jpg');
}
nav {
  width: 100%;
  height: 70px;
  z-index: 1;
}

nav .logo {
  float: left;
  display: block;
}

nav .menu {
  float: right;
  right: 20%;
  position: relative;
}

nav .menu li {
  display: inline-block;
  padding: 0 30px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;

}

nav .menu li a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.toggle {
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.toggle .span {
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

.toggle.on #one {
  transform: rotate(45deg) translateX(2px) translateY(4px);
}

.toggle.on #two {
  opacity: 0;
}

.toggle.on #three {
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

.resize {
  z-index: 1;
  top: 0;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  display: table;
}

.resize .menu {
  height: 90px;
  display: table-cell;
  vertical-align: center;
  padding: 40px;
}

.resize .menu li {
  display: block;
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.resize li:nth-child(1) {
  margin-top:140px;
}

.resize .menu li a {
  color: #fff;
}

.resize.open {
  visibility: visible;
  opacity: 0.99;
}

.headline-container {
  width: 100%;
  margin: 10px;
  padding-top: 10px;
}
/*Markups*/
.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.headlines-dark {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px 0;
  }
p {
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
  }
.headlines-light {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 10px 0 10px 0;
}
.caption {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 10px 0 10px 0;
}
.benefits-list-detail {
  font-size: 18px;
}
p.submit-text {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
/*Navigation Style*/

.active {
  background-color: #D32F2F;
  color: #fff;
  animation-name: active;
  animation-duration: 4s;
}
.icon-cart-button {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  flex-shrink: 1;
  background-color: #D32F2F;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 7px 8px;
  min-width: 64px;
  min-height: 32px;
  margin: 2px;
  border: 0 solid;
}
.icon-cart-button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: gray;
}
/*HomePage style*/
.home {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 100px;
}
.content {
  display: flex ;
  flex-direction: column;
  padding: 50px 0 50px 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-align: left;
  float: none;
}
.benefits {
  margin-top: 10px;
}
.bookPicture {
  padding-bottom: 10px;
}
.submit {
  color: #fff;
  background-color: #D32F2F;
  text-transform: uppercase;
  line-height: 1.4em;
  font-weight: 500;
  border-radius: 4px;
  padding: 7px 8px;
  width: 140px;
  min-height: 40px;
  margin: 10px;
  border: 0 solid;
}
.submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
.benefits-list {
  text-indent:2px;
  list-style: none;
  list-style-position:outside;
 }
.benefits-list-detail:before {
  content: '✔';
  margin-left: -2em; margin-right: .100em;
  color: red;
}
/*Media Section style */
.video {
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    text-align: center;
    padding: 30px;
}
.bookSamples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}
.imgItem {
  margin: 10px;
}
.fun-facts {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  display: block;
  text-align: center;
}
.news-text {
  padding: 30px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 40%;
  color: #fff;
  vertical-align: top;
}
/*About Author style */
.author {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  display: block;
  align-items: center;
  background-color: #fff;
  background-size: contain;
}
.authorStory {
  padding: 30px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 48%;
}
.authorPicture {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;
  margin-top: 10px;
  padding: 30px;
}
.signature {
  padding-top: 20px;
  font-weight: bold;
}
/* Subscribe */
.follow {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.subscribe {
  color: #fff;
  background-color: #03A9F4;
  text-transform: uppercase;
  line-height: 1.8em;
  height: 40px;
  width:200px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  padding: 7px 8px;
  min-width: 80px;
  min-height: 32px;
  margin: 10px;
  border: 0 solid;
}
.subscribe:hover {
  cursor: pointer;
  opacity: 0.8;
}
.form {
  display: flex;
  justify-content: center;
}
.logo {
  margin: 10px;
}
.input-field {
    font-size: 20px;
    width: 280px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
  }
/* Footer */
.social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
.fa-facebook {
    padding:10px 14px;
    transition:.5s;
}
.fa-facebook:hover {
    background-color: #3d5b99;
    color: #fff;
}
.fa-twitter {
    padding:10px 12px;
    transition: .5s;
}
.fa-twitter:hover {
    background-color: #00aced;
    color: #fff;
}
.fa-google-plus {
    padding:10px 9px;
    transition: .5s;
}
.fa-google-plus:hover {
    background-color: #e25714;
    color: #fff;
  }
/* Animations */
@keyframes hover {
  from {background-color: inherit;}
  to {background-color: #BDBDBD }
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .home {
    margin-top: 0;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 20px;
  }
  .headlines-dark {
    font-size: 16px;
  }
  .headlines-light {
    font-size: 16px;
  }
  .benefits-list-detail {
    font-size: 14px;
    font-weight:normal;
  }
  p {
    font-size: 14px;
    text-align: left;
    text-align: justify !important;
  }
  .caption {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    margin: 10px 0 10px 0;
  }
  p.submit-text {
    display: none;
  }
  .content {
    padding: 70px 20px 20px 20px;
  }
  .submit {
    width: 100px;
  }
  .bookCover {
    max-width: 100%;
    height: auto;
  }
  .bookPicture {
    display:none;
  }
  .imgItem {
    margin: 15px;
  }
  .imgItemUnit {
    padding-bottom: 5px;
    width: 80%;
    height: auto;
  }
  .authorStory {
    width: 80%;
    text-align: left;
  }
  .authorPicture {
    width: 100%;
    text-align: center;
  }
  .video {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .video-frame {
    max-width: 250px;
  }
  .news-text {
    width: 80%;
    text-align: center;
  }
  .icon-cart-button {
    display: none;
  }
  .input-field {
      font-size: 14px;
      width: auto;
  }
  #cart-plus {
      padding: 5px;
      font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .resize {
    visibility: hidden !important;
  }
  .header {
    position: fixed;
    top: 0;
  }
  #cart-plus {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
  }
  nav .menu {
    display: none;
  }
  .icon-cart-button {
      display: none;
    }
}
@media screen and (max-width: 768px) {

  nav .logo {
    margin-left: 18px;
  }
  .menu a {
    font-size: 20px;
  }
  .bookPicture {
    margin-left: 20px;
  }
  .logo {
    margin-left: 10px;
  }
  .authorStory {
    width: 100%;
  }
  .authorPicture {
    width: 100%;
    text-align: center;
  }
  .news-text {
    width: 100%;
  }
  .video {
    width: 100%;
    text-align:center;
  }
  .imgItemUnit {
    padding-bottom: 5px;
    width: 250px;
  }
  .logo {
    float: right;
    margin-right: 10px;
  }
  .authorPictureItem {
    max-width: 250px;
  }
}
